Repository Archana90663/New_PasteBin, pull requests merged in 2022-03, with the labels that each got.

#145 #125 Added filters to view posts as such
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
Labels: Front End

#181 #128 Login Progress
  new_pastebin_frontend/src/app/app-routing.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.css
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
  new_pastebin_frontend/src/app/loginpage/loginpage.component.spec.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/testpage/testpage.component.html
  new_pastebin_frontend/src/app/testpage/testpage.component.ts
Labels: Front End

#183 #128 Finished remaining changes to login functionality
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/testpage/testpage.component.html
Labels: Front End

#184 #180 Added Angular Material to Login
  new_pastebin_frontend/src/app/loginpage/googleLogo.png
  new_pastebin_frontend/src/app/loginpage/loginpage.component.css
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
  new_pastebin_frontend/src/app/navbar/navbar.component.html
Labels: enhancement, Front End

#189 #188 Added user's name to the welcome page
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#195 #193 passing test cases to check if paste filter clicked is correct
  new_pastebin_frontend/src/app/homepage/homepage.component.spec.ts
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
Labels: Front End, Testing

#194 #192 passing test cases for checking the appropriate paste tag
  new_pastebin_frontend/src/app/submitpage/submitpage.component.spec.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
Labels: Front End, Testing

#196 Bkojusner security tests
  new_pastebin_frontend/cypress/integration/security_spec.js
  new_pastebin_frontend/src/app/homepage/homepage.component.html
Labels: Front End

#198 Bkojusner logout material
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
Labels: Front End

#199 Bkojusner login tests
  new_pastebin_frontend/cypress/integration/social_login_spec.js
Labels: Testing

#218 #205 removed user information from the logout page
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
Labels: Front End

#245 #231 Checks if user is logged in to select the private tag for pastes
  new_pastebin_frontend/src/app/submitpage/submitpage.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
Labels: Front End

#225 #204 Adding styling to the user profile
  new_pastebin_frontend/src/app/profilepage/profilepage.component.html
  new_pastebin_frontend/src/styles.css
Labels: Front End

#249 #246 Added userid to the pastestype metadata
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/types/pastestype.ts
Labels: Front End

#250 #226 Added unit test to assess if user info is correctly extracted
  new_pastebin_frontend/src/app/loginpage/loginpage.component.spec.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.spec.ts
Labels: Front End, Testing

#258 #255 added api/login route whenever the user logs in via the Google API
  new_pastebin_frontend/package-lock.json
  new_pastebin_frontend/package.json
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#259 #202 Displays the pastes created by the user when logged in
  new_pastebin_frontend/src/app/app-routing.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/types/pastestype.ts
  new_pastebin_frontend/src/app/viewpage/viewpage.component.css
  new_pastebin_frontend/src/app/viewpage/viewpage.component.html
  new_pastebin_frontend/src/app/viewpage/viewpage.component.spec.ts
  new_pastebin_frontend/src/app/viewpage/viewpage.component.ts
Labels: Front End

#254 #202 Added viewpage to the navbar for easy access
  new_pastebin_frontend/src/app/app-routing.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/viewpage/viewpage.component.css
  new_pastebin_frontend/src/app/viewpage/viewpage.component.html
  new_pastebin_frontend/src/app/viewpage/viewpage.component.spec.ts
  new_pastebin_frontend/src/app/viewpage/viewpage.component.ts
Labels: Front End

#261 #202 Displays user's pastes, the ones they created, when logged in
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/types/pastestype.ts
  new_pastebin_frontend/src/app/viewpage/viewpage.component.html
  new_pastebin_frontend/src/app/viewpage/viewpage.component.ts
Labels: Front End

#269 #227 Added unit test to assess if login functionality is working
  new_pastebin_frontend/src/app/loginpage/loginpage.component.spec.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End, Testing

#270 #248 Added unit test to determine if logout functionality works
  new_pastebin_frontend/src/app/loginpage/loginpage.component.spec.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
Labels: Front End, Testing

#274 #252 Created unit test to check only public/unlisted tag can be checked
  new_pastebin_frontend/src/app/submitpage/submitpage.component.spec.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
Labels: Front End, Testing

#273 Bkojusner aboutpage
  new_pastebin_frontend/src/app/aboutpage/aboutpage.component.css
  new_pastebin_frontend/src/app/aboutpage/aboutpage.component.html
  new_pastebin_frontend/src/app/aboutpage/aboutpage.component.spec.ts
  new_pastebin_frontend/src/app/aboutpage/aboutpage.component.ts
  new_pastebin_frontend/src/app/app-routing.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
Labels: Front End

#276 #247 Added unit test to check only logged in user can select private tag
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
  new_pastebin_frontend/src/app/loginpage/loginpage.component.spec.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.spec.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End, Testing

#280 #279 Updated navbar so that it correctly shows tabs for logged in users
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#282 #281 paste userID's show the correct ID's of their creators
  new_pastebin_frontend/src/app/app.component.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#285 #284 previous pastes can now be displayed correctly. Fixed the bug
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#288 Bkojusner test publicandunlistedonly
  new_pastebin_frontend/cypress/integration/non-loggedin_paste.js
Labels: Front End, Testing
