Repository Archana90663/New_PasteBin, pull requests merged in 2022-04, with the labels that each got.

#290 Bkojusner test isuserloggedin
  new_pastebin_frontend/cypress/integration/loggedin_check.js
  new_pastebin_frontend/cypress/integration/social_login_spec.js
  new_pastebin_frontend/cypress/plugins/index.js
  new_pastebin_frontend/cypress/support/commands.js
Labels: Front End, Testing

#291 Bkojusner view pastes aesthetic
  new_pastebin_frontend/src/app/viewpage/viewpage.component.css
  new_pastebin_frontend/src/app/viewpage/viewpage.component.html
Labels: Front End

#292 Bkojusner test loggedintagupdate
  new_pastebin_frontend/cypress/integration/loggedin_tag_update.js
Labels: Front End, Testing

#293 Bkojusner test loggingout
  new_pastebin_frontend/cypress/integration/logging_out_spec.js
Labels: Front End, Testing

#294 Bkojusner navbar login
  new_pastebin_frontend/src/app/loginpage/loginpage.component.html
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#295 #207 Finished Logout Redirect
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#299 #298 Map is updated when pastes are manually deleted or expired
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#301 Bkojusner pastecard display
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
Labels: Front End

#303 #302 pastes not show profile pic according to the user who created them
  new_pastebin_frontend/src/app/homepage/homepage.component.html
Labels: Front End

#305 #304 viewing a paste now shows the user's profile pic and username
  new_pastebin_frontend/src/app/textpage/textpage.component.html
Labels: Front End

#306 #267 Creates paste and checks the combined userID and pasteID exist
  new_pastebin_frontend/cypress/integration/userID_paste_match.js
Labels: Front End, Testing

#308 #221 Updated background color to match with navbar
  new_pastebin_frontend/src/app/app.component.css
  new_pastebin_frontend/src/app/homepage/homepage.component.css
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/profilepage/profilepage.component.css
  new_pastebin_frontend/src/app/profilepage/profilepage.component.html
  new_pastebin_frontend/src/app/viewpage/viewpage.component.css
  new_pastebin_frontend/src/app/viewpage/viewpage.component.html
Labels: Front End

#307 Bkojusner test dataintegrity
  new_pastebin_frontend/cypress/integration/data_integrity_spec.js
  new_pastebin_frontend/cypress/integration/userID_paste_match.js
Labels: Front End, Testing

#310 #309 navbar now updates according to user is logged in or not
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#320 #263 User now remains logged in after refreshing page
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#322 #318 Automatic refresh shows the new logged in changes
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
Labels: Front End

#326 #319 Account Profile now showing user details
  new_pastebin_frontend/src/app/loginpage/loginpage.component.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.ts
  new_pastebin_frontend/src/app/profilepage/profilepage.component.ts
Labels: Front End

#328 #323 logged in user can now see their specific pastes
  new_pastebin_frontend/src/app/viewpage/viewpage.component.ts
Labels: Front End

#329 #324 Logged in user now gets all paste options
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/textpage/textpage.component.ts
Labels: Front End

#344 Update README.md
  README.md
Labels: documentation

#345 Update readme with application description
  README.md
Labels: documentation

#362 Bkojusner signup page
  new_pastebin_frontend/src/app/app-routing.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/navbar/navbar.component.html
  new_pastebin_frontend/src/app/signuppage/signuppage.component.css
  new_pastebin_frontend/src/app/signuppage/signuppage.component.html
  new_pastebin_frontend/src/app/signuppage/signuppage.component.spec.ts
  new_pastebin_frontend/src/app/signuppage/signuppage.component.ts
Labels: Front End

#411 Bkojusner submitpage cypress
  new_pastebin_frontend/cypress/integration/submitpage_spec.js
Labels: Front End, Testing

#410 Bkojusner homepage cypress
  new_pastebin_frontend/cypress/integration/homepage_spec.js
Labels: Front End, Testing

#412 Bkojusner textpage cypress
  new_pastebin_frontend/cypress/integration/textpage_spec.js
Labels: Front End, Testing
