Repository Archana90663/New_PasteBin, pull requests merged in 2022-02, with the labels that each got.

#63 Store expiration dates for texts #10
  Server/postText.go
Labels: Back End

#65 Error when an expired text is requested #40
  Server/app.go
  Server/gorm.db
Labels: Back End

#69 Periodically delete expired texts #38
  Server/app.go
  Server/go.mod
  Server/go.sum
  Server/removeExpired.go
Labels: Back End

#72 #9 Displaying Paste Info and Titles
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
  new_pastebin_frontend/src/app/homepage/pastestype.ts
Labels: Front End

#75 Fix CORS for POST requests Fixes #74
  Server/app.go
  Server/go.mod
  Server/go.sum
Labels: Front End

#76 #64 Added expiration date and time box in submitpage
  new_pastebin_frontend/package-lock.json
  new_pastebin_frontend/package.json
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.html
  new_pastebin_frontend/src/styles.css
Labels: Front End

#109 #101 Added Angular Material to the submit-page components
  new_pastebin_frontend/src/app/submitpage/submitpage.component.html
  new_pastebin_frontend/src/styles.css
Labels: Front End

#110 #107 Fixed p tags being shown in a new post
  new_pastebin_frontend/src/app/submitpage/submitpage.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
Labels: Front End

#116 #113 created file Sprint1.md
  Sprint1.md
Labels: documentation

#134 #124 Created a search bar
  new_pastebin_frontend/package-lock.json
  new_pastebin_frontend/package.json
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/homepage/homepage.component.ts
Labels: Front End

#133 #121 Added tag types to the Paste type
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/homepage/homepage.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.html
  new_pastebin_frontend/src/app/submitpage/submitpage.component.ts
  new_pastebin_frontend/src/app/types/pastestype.ts
Labels: Front End, Back End

#135 Added pipe module to app.module.ts
  new_pastebin_frontend/src/app/app.module.ts
  new_pastebin_frontend/src/app/homepage/homepage.component.html
Labels: Front End
